#menu_text{
	margin: 0;
}

#menu_text{
	background-color: #e0b743;
	text-align: center;
	padding: 40px;
}

nav{
	background-color: #333;
	overflow: hidden;
	/*padding: 14px 20px;*/
}
nav a{
	color: white;
	padding: 14px 20px;
	
	display: block;

	text-align: center;
	text-decoration: none;
}

nav a.menu_left {
	float: left;
}
nav a.menu_right {
	float: right;
}

nav a:hover{
	background-color: #DDD;
	color: black;
}

#left_side{
	flex:  30%;
	background-color: #f1f1f1;
	padding: 10px 20px;
}
#right_side{
	flex:  70%;
	padding: 10px 20px;
}
#flex_contaier{
	display:  flex;
	flex-wrap: nowrap;
}

footer{
	background-color: #333;
	color:  white;
	padding:  10px 20px;
	text-align: center;
}
footer a {
	color: white;
}
/*TABLE*/
table{
	border-collapse: = collapse;
	/*width:  100%;*/
}
table td, table th{
	border:  1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover{background-color: #ddd;}

table th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

/*My friends*/
.course_item{
	width:  33% ;
	float: left;
	text-align: center;
}

.course_img{
	width: 150px;
}

/*phóng to - thu nhỏ*/
@media(max-width:  800px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_contaier{
		flex-wrap: wrap ;
		float:  left;

	}
}

@media(max-width:  400px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}

	#flex_contaier{
		flex-wrap: wrap ;
	}
}